<html>
<head>
    <title>Blog Title</title>
</head>
<body>

<div>
    <a href="/blog/index" title="Home">Homepage</a>
    <a href="/blog/list" title="List">Article List</a>
    <a href="/blog/Login" title="Login">Login</a>
    <a href="/blog/Contact" title="Contact">Contact</a>
</div>
<h1>{{ name }}</h1>
</body>
</html>