{% extends "blog/index.html.twig" %}
{% block content%}
    <ul>
        {% for category in blogCategories %}
        <li><a href="{{ url('view',{'id':category.id}) }}">{{ category.name }}</li>
        {% endfor %}
    </ul>
    <p><a href="{{ url('newcat') }}">New category</p>
    <p><a href="{{ url('newpost') }}">New post</p>
{% endblock %}
